/* Impporting Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#F1F3FF,#CBD4FF);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: #151A2E;
    transition: all 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar .sidebar-header {
    display: flex;
    position: relative;
    align-items: center;
    padding: 25px 20px;
    justify-content: space-between;
}

.sidebar-header .header-logo img {
    max-height: 100px;
    max-width: 150px;
    display: block;
    object-fit: contain;
    border-radius: 0%;
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #EEF2FF;
    transition: 0.4 ease;
}

.sidebar-header .sidebar-toggler:hover {
    background: #D9E1FD;
}

.sidebar.collapsed .sidebar-toggler{
    transform: translate(-4px, 65px);
}

.sidebar-header .sidebar-toggler span {
   font-size: 1.75rem;
   transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list{
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-item .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
    padding: 11px 15px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #151A2E;
    transition: 0.4s ease;
}

.sidebar-nav .nav-item:hover > .nav-link {
    color: #151A2E;
    background: #EEF2FF;
}

.sidebar-nav .nav-link .nav-label {
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
    background: #151A2E;
}

.sidebar-menu-button{
    display: none;
}

@media (min-width: 1024px) {
  .sidebar-header .sidebar-toggler {
    display: none; /* 屏幕大于 1024px 时隐藏 */
  }
}


@media (max-width: 1024px) {
    .sidebar-menu-button{
        display: block;
        position: fixed;
        left: 20px;
        top: 20px;
        border: none;
        color: #000;
        background-color: none;
        border-radius: 12px;
        cursor: pointer;
    }

    .sidebar-menu-button span{
        font-size: 1.8rem;
    }

    .sidebar.collapsed {
        width: 260px;
        left: -260px;
    }

    .sidebar.collapsed .sidebar-header .sidebar-toggler{
        transform: none;
    }

    .sidebar.collapsed .sidebar-nav .primary-nav {
        transform: translateY(15px);
    }
}